.container{
    max-width: 1024px;
}
.button{
    width: 200px;
    height: 60px;
    background-color: #ffa500;
    color: white;
    text-align: center;
}
.button:hover{
    background-color: #ffd700;
}